{% extends "base.html" %}

{% block content %}

<h3>Posts</h3>

<div class="row">
  <a href="{{url_for('.add')}}" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-edit"></i>
    Add post
  </a>
</div>
{% for post in posts %}
<a href="{{url_for('.show', id=post.id)}}">{{post.title}}</a>
{% else %}
<p>No Posts found</p>
{% endfor %}

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">Next</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}
