<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Multi User Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('blog.static', filename='css/bootstrap.min.css')}}">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Blog</div>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/blog">Home</a></li>
        </ul>
        {% if username %}
        <ul class="nav navbar-nav">
          <li><a href="/blog/mypost">My posts</a></li>
        </ul>
        <div class="navbar-text navbar-right">
          <span>Welcome, {{username}}(<a href="{{url_for('auth.logout')}}">logout</a>)</span>
        </div>
        {% else %}
        <div class="navbar-text navbar-right">
            <span><a href="/auth/login">Login</a> | <a href="/auth/signup">Signup</a></span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>