{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <h3>
      Posts
      {% if username %}
      <a href="{{url_for('.add')}}" class="btn btn-primary btn-sm">
        Add post
      </a>
      {% endif %}
    </h3>
  </div>
</div>

<div class="row">
  <hr class="col-md-12">
</div>

<div class="row">
  <div class="col-md-12">
    {% for post in posts %}
    <ul class="media-list">
      <li class="media">
        <div class="media-left">
          <img class="post-image" src="https://api.adorable.io/avatars/32/{{post.username|default('Guest', True)}}.png">
        </div>
        <div class="media-body">
          <h5 class="media-heading">{{post.username|default('Guest', True)}}</h5>
          <a href="{{url_for('.show', id=post.id)}}">{{post.title}}</a>
        </div>
      </li>
    </ul>
    {% else %}
    <p>No Posts found</p>
    {% endfor %}
  </div>
</div>

{% if next_page_token %}
<nav>
  <ul class="pager">
    <li><a href="?page_token={{next_page_token}}">Next</a></li>
  </ul>
</nav>
{% endif %}

{% endblock %}
