{% extends "base.html" %}

{% block content %}
<h3>{{action}} post</h3>

<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="{{post.title}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="author">Content</label>
    <textarea name="content" id="content" class="form-control">{{post.content}}</textarea>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
  <a href="{{url_for('.show', id=post.id)}}" class="btn btn-default">
    Cancel
  </a>
</form>

{% endblock %}
